<div class="card">
  <div class="card-header">คำสั่งเบื้องต้นเกี่ยวกับ npm </div>
  <div class="card-block">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <span class="title success">
                <a href="สรุป 14 คำสั่ง NPM ที่ใช้บ่อย สำหรับสาย Node.js">คำสั่งเกี่ยวกับ NPM ที่ใช้บ่อย ๆ</a>
            </span>
        <span>
            
        </span>
        </div>
    </div>
    
  </div>
</div>

<div class="card">
  <div class="card-header">คำสั่งเบื้องต้นเกี่ยวกับ Angular CLI</div>
  <div class="card-block">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
           <span class="title success">
               <a href="https://codingthailand.com/blog/%E0%B8%AA%E0%B8%A3%E0%B8%B8%E0%B8%9B-13-%E0%B8%84%E0%B8%B3%E0%B8%AA%E0%B8%B1%E0%B9%88%E0%B8%87-angular-cli/">คำสั่งที่ใช้บ่อย ๆ ของ Angular CLI</a>
           </span>
        </div>
    </div>
    
  </div>
</div>